
 
  
  /* uppen navbar section consisting of brands promise and other tabs,
  need to be added into every file after importing the upper navbar js */
  #upper-navbar{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid transparent;
  }
  
  #upper-navbar h4{
    text-align: center;
    margin-top: -1px;
  }
  
  table{
    width: 100%;
    border-bottom: 1px solid rgb(181, 181, 181);
  }
  
  td:first-child, td:last-child{
    border-right: transparent;
  }
  
  td{
    border-left: transparent;
    border-right: 1px solid rgb(181, 181, 181);
    border-bottom: transparent;
    height: 30px;
    padding: 15px;
  }
  
  a{
    text-decoration: none;
    color: #000;
  }
  
  /* upper navbar completed here */
  
  #search-bar{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1.5fr 1fr;
    margin-top: 5px;
  }
  
  input{
    margin-top: 5px;
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-radius: 100px;
  }
  
  .navbar{
    background-color: #e4252a;
    margin: -10px;
  }
  
  .cart{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  /* All icons classes: */
  .fa-search{
    margin-left: -30px;
  }
  /* All icons classes end here */

 /* for crauser div */

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#crauser_div{
    width: 100%;
    position: relative;
}
#crauser_div>img{
    width: 100%;
}
#crauser_div>button{
    position: absolute;
    top: 80px;
    background-color:rgba(77,77,77,0.2);
}
#crauser_div>button:nth-child(2){
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}
#crauser_div>button:nth-child(3){
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

  /* crauser div end */

  #btn1{
    width: 100%;
    text-align: left;
    padding: 6px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  #big_div{
    width: 100%;
    height: 1022px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
  }
  #big_div>div{
    /* border: 1px solid green; */
  
  }
  .div1{
    width: 69%;
    margin-left: 3px;
  }
  .div1>div{
    margin-top: 5px;
  }
  .div2{
    width: 30%;
  }
  .div1>div{
    width: 100%;
    /* border: 1px solid blue; */
    height: 240px;
  }
  .shopby{
    width: 100%;
    height: 50px;
    /* border: 1px solid orange; */
  }
  .shopby>p{
    font-size: 25px;
    padding: 5px;
  }
  #crauser_div2{
    width: 100%;
    display: flex;
    height: auto;
    position: relative;
    /* border: 1px solid red; */
    margin-top: 4px;
  }
#crauser_div2>div{
  width: 22%;
  height: 180px;
  margin: auto;
  border: 1px solid rgb(126, 129, 126);
}
#crauser_div2>div>img{
  width: 100%;
  height: 100%;
}
#crauser_div2>button{
    position: absolute;
    top: 65px;
    background-color: white;
    /* background-color:rgba(77,77,77,0.2); */
}
#crauser_div2>button:nth-child(5){
    left: 3px;
    width: 30px;
    height: 40px;
   border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#crauser_div2>button:nth-child(6){
    right: 3px;
    width: 30px;
    height: 40px;
   border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#crause_div3{
  width: 90%;
  margin: auto;
  display: flex;
  /* border: 1px solid red; */
  margin-top: 4px;
}
#crause_div3>div{
  width: 30%;
  height: 153px;
  border: 1px solid rgb(122, 123, 122);
  margin: auto;
}
#crause_div3>div>img{
  width: 100%;
}
#crauser_div4{
  width: 95%;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,180px);
  gap: 10px;
  /* border: 1px solid red; */
  margin-top: 4px;
}
#crauser_div4>div{
  border: 1px solid grey;
}
#crauser_div4>div>img{
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  cursor: pointer;
}
.div2>p{
  font-size: 25px;
  margin-bottom: 10px;
}
#div2_child{
  width: 100%;
  height: 95%;
  /* border: 1px solid red; */
}
#div2_child>div{
  width: 100%;
  height: 230px;
  margin-top: 5px;
  /* border: 1px solid blue; */

}
#div2_child>div>p{
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
}
#div2_child>div>img{
  width: 100%;
}